.weather-box {
    width: 90%;
    margin: 0 auto;
    height: 60%;
    background-color: #76a6c5;
    align-items: center;
    padding: 6px;
    border-radius: 20px;
    display: flex;
    /* flex-direction: column;
    align-items: flex-start; */
    box-sizing: border-box;
}

.weather-city {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    white-space: nowrap;
    color: #fff;

}

.weather-days {
    margin-left: 20px;
    display: flex;
    width: 100%;
    height: 90%;
    gap: 10px;      
    justify-content: flex-start;

}

.weather-day {
    width: 80px;
    height: 70px;
    text-align: center;
    display: inline-block;
}

.weather-icon {
    color: #fff;
}

.day-name {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.temp-range {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

