# Node modules
node_modules/

# 환경 변수 파일
.env

# VS Code 설정
.vscode/

# 로그 파일
*.log

# OS 관련 파일
.DS_Store
Thumbs.db



#일정관리 (개발 중인 파일
/backend/src/routes/scheduleRoutes.js
/backend/src/services/scheduleService.js
/backend/src/controller/scheduleController.js